<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">FRIENDNAME</th>
                    <th scope="col">NICKNAME</th>
                    <th scope="col">DESCRIBE_YOUR_FRIEND</th>

                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let i of data">
                    <th scope="row">{{i._id}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.friendName}}</td>
                    <td>{{i.friendNickName}}</td>
                    <td>{{i.DescribeYourFriend}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
